@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #f0fff0; /* Honeydew */
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: #3cb371; /* MediumSeaGreen */
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #98fb98; /* PaleGreen */
  }
}

body {
  background-color: #f0fff0; /* Honeydew */
  color: #2f4f4f; /* DarkSlateGray */
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    padding: 2rem;
  }
}
